# tsc outDir, build directory
dist/
esm/
lib/

# Webstorm(or any other Intellij IDE) config
.idea/

# Node modules
node_modules/

# Built files
tsconfig.tsbuildinfo

# Jest Cache
.jest/
coverage/

# Yarn
yarn-error.log

# bundled assets

android/app/src/main/assets/*.bundle
android/app/src/main/assets/*.map
android/app/src/main/assets/drawable*
android/app/src/main/assets/raw

report.*.json

# react-native-config codegen
ios/tmp.xcconfig

.env
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.env.sample

# sentry
.sentryclirc

# OSX
#
.DS_Store

# Xcode

ios/assets/**/*
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

vendor/bundle

# Android/IntelliJ

android/drawable*
android/raw
java_pid*
.idea
.gradle
local.properties
*.iml
*.hprof

npm-debug.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

#*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots
*/vendor/bundle
*/vendor/cache

# Bundle artifact
*.jsbundle
*.jsbundle.map
*.index.android.bundle
*.index.android.bundle.map
*.index.ios.bundle
*.index.ios.bundle.map
*.main.jsbundle
*.main.jsbundle.map


#npm
package-lock.json

#Pods
ios/Pods/


#VSCode
.vscode

#GraphQL fetched scheme (Prevent all queries are allowed in Hasura)
src/graphql/schema.graphql

#Eslint
.eslintcache

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# Code Push Bundle
ios-bundle.zip
android-bundle.zip
codepush-ios/
codepush-ios-sourcemap/
codepush-android/
codepush-android-sourcemap/

# OpenApi

.openapi.json
# generated by bob
